<h1> 註冊會員/Sign up </h1>


<%= form_with model: @user, url: sign_up_path do |form|%>
  
  <% if @user.errors.any?%>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |errors| %>
        <div><%=errors%></div>
      <%end%>
    </div>
  <%end%>


  <div class="mb-3">
    <%= form.label :email, "Email信箱", class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "xxxx@email.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, "密碼", class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, "確認密碼", class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "送出", class: "btn btn-primary" %>
  </div>
<%end%>