    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BTB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link"%>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if Current.user%>
              <li class="nav-item">
                <%= link_to Current.user.email, edit_password_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= button_to "登出", logout_path, method: :delete, class: "btn btn-primary" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "註冊", sign_up_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "登入", sign_in_path, class: "nav-link active" %>
              </li>
            <%end%>

        </div>
      </div>
    </nav>